.obrigatorio {
    color: red;
}

.container {
    align-items: center;
}

.container-form {
    text-align: center;
    background-color: black;
    padding: 58px;
    border-radius: 15px;
    margin: 0 auto;
    width: 30%;
    margin-top: 95px;
}

input {
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}


/*botão de salvar*/

[type=submit] {
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    color: aliceblue;
}


/*botão de logar*/

button {
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin-right: 50px;
    cursor: pointer;
    color: white;
}


/*botão escolher arquivo*/

.daora {
    border: none;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
    color: dodgerblue;
}

legend {
    color: red;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: none;
    padding: 15px;
    cursor: pointer;
}

.galho {
    color: aliceblue;
}