.obrigatorio {
    color: red;
}

.container {
    align-items: center;
}

.container-form {
    background-color: black;
    padding: 90px;
    border-radius: 15px;
    margin: 0 auto;
    width: 30%;
}

input {
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}

[type=submit] {
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    width: 95%;
    border-radius: 15px;
    cursor: pointer;
    color: aliceblue;
}

button {
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.daora {
    background-color: dodgerblue;
    border: none;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

legend {
    color: red;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    left: 20px;
}

.galho {
    color: aliceblue;
}