#fundologin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(../images/fundo.png);
}

.bolo {
    text-align: center;
    background-color: black;
    padding: 58px;
    border-radius: 15px;
    margin: 0 auto;
    width: 28%;
    margin-top: 95px;
}

legend {
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: auto;
}

a.cad {
    color: aliceblue;
    font-size: 20px;
}

a.cad:hover {
    color: darkgrey;
}

input {
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}

input[type=submit] {
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    color: aliceblue;
}

.enzo h3 a {
    color: aliceblue;
}
