body {

    color: black;

}



#cardapio {

    display: flex;

    flex-direction: row;

    justify-content: center;

    padding-top: -100px

}



.flex {

    display: flex;

    flex-wrap: wrap;

    text-align: center;

}



#item {

    background-color: #F2B441;

    margin: 30px;

    border-radius: 30px;

    padding: 20px;

    align-content: flex-end;

}



#imagens {

    padding: 5px;

    width: 360px;

    height: 260px;

    border-radius: 30px

}



#item {

    display: flex;

    flex-direction: column;

    text-align: center;

}



#item p {

    font-size: 14px;

}



#item button {

    background-color: #0AF25F;

    padding: 10px;

    border-radius: 10px;

    border: none;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

}



#item button:hover {

    background-color: aquamarine;

}