body {
    background: url('https://img.lovepik.com/freevector/32/40/81/75b58PICnJypdb4E013fA_PIC2018.jpg') center center no-repeat fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image {
    text-align: left;
    display: flex;
    padding-left: 20px;
}

.banner {
    width: 100%;
    height: 400px;
    background: url(../images/leand.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

.lu {
    color: white;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 900%;
    font-size: 900%;
}

.Login {
    color: aliceblue;
    margin-left: 100px;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 5px 30px;
    outline: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    transition: 0.6s;
}

nav a:hover,
nav a:focus {
    transition: 0.4s;
    outline: none;
    color: white;
}