body {
    font-family: sans-serif;
    background: rgb(167, 167, 167);
}

nav {
    text-align: center
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    background: #000000;
    padding: 18px 0 20px 0;
    margin: 20px 0px;
    box-shadow: 0px 20px 20px rgb(46, 44, 44);
    color: aliceblue
}

nav ul li {
    padding: 0;
    margin-right: 20px;
}

.container {
    max-width: 900px;
    /*largura maxima*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /*colocar uma sombra para ficar estiloso*/
    background-color: black;
    margin: 20px auto;
    /*ser centralizado*/
    margin: 20px auto 20px auto;
    /*top, right, butoon, left*/
    padding: 20px;
    text-align: center;
    /*ele é um elemento inline-block ou block */
}

footer {
    text-align: center;
}

.logotipo {
    max-width: 150px;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    margin: auto;
}

.carros {
    max-width: 650px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.caminhoes {
    max-width: 650px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

p {
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 650px;
    margin: 0 auto;
}


/*a baixo tem a parte do roda-pé*/

.rodape {
    padding: 10px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.rodape-imagem {
    height: 120px;
}

.s-m {
    display: flex;
    gap: 25px;
}

.s-m i {
    text-align: center;
    border-radius: 36px;
    font-size: 20px;
    color: white;
    margin: 20px;
}

nav a {
    color: white;
}

.eletrico {
    max-width: 1900px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.form-control {
    text-align: left;
}

.form-control {
    font-size: 20px;
}

.form-control input {
    border: 1px solid greenyellow;
}

.form-control input:focus {
    border: 2px solid blue;
}

.form-control input:hover {
    border: 2px solid violet;
}